*.gitignore filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/common/NOTICE filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
/ddms/libs/ddmlib/NOTICE filter=lfs diff=lfs merge=lfs -text
/device_validator/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/device_validator/app/etc/README filter=lfs diff=lfs merge=lfs -text
/device_validator/app/etc/device_validator filter=lfs diff=lfs merge=lfs -text
*.xsd filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
/draw9patch/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/draw9patch/NOTICE filter=lfs diff=lfs merge=lfs -text
/draw9patch/etc/draw9patch filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.el filter=lfs diff=lfs merge=lfs -text
/jobb/NOTICE filter=lfs diff=lfs merge=lfs -text
/jobb/etc/jobb filter=lfs diff=lfs merge=lfs -text
/layoutlib_api/NOTICE filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/lint/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/lint/cli/NOTICE filter=lfs diff=lfs merge=lfs -text
/lint/cli/etc/lint filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
/lint/cli/src/test/java/com/android/tools/lint/checks/data/apicheck/classpath filter=lfs diff=lfs merge=lfs -text
/lint/cli/src/test/java/com/android/tools/lint/checks/data/bytecode/classpath-jar filter=lfs diff=lfs merge=lfs -text
/lint/cli/src/test/java/com/android/tools/lint/checks/data/bytecode/classpath-lib filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.properties1 filter=lfs diff=lfs merge=lfs -text
*.properties2 filter=lfs diff=lfs merge=lfs -text
*.properties3 filter=lfs diff=lfs merge=lfs -text
*.properties4 filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint_api/NOTICE filter=lfs diff=lfs merge=lfs -text
/manifmerger/etc/manifmerger filter=lfs diff=lfs merge=lfs -text
/ninepatch/NOTICE filter=lfs diff=lfs merge=lfs -text
/rule_api/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdk_common/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdkmanager/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/sdkmanager/libs/sdklib/NOTICE filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
/sdkstats/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdkstats/README filter=lfs diff=lfs merge=lfs -text
*.ftl filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/testutils/NOTICE filter=lfs diff=lfs merge=lfs -text
/ddmlib/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdklib2/NOTICE filter=lfs diff=lfs merge=lfs -text
*.name filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.classpath filter=lfs diff=lfs merge=lfs -text
*.project filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
/sdklib2/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/gradlew filter=lfs diff=lfs merge=lfs -text
*.MF filter=lfs diff=lfs merge=lfs -text
/sdklib/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/sdklib/NOTICE filter=lfs diff=lfs merge=lfs -text
/assetstudio/NOTICE filter=lfs diff=lfs merge=lfs -text
/device_validator/dvlib/NOTICE filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint_checks/NOTICE filter=lfs diff=lfs merge=lfs -text
/manifmerger/NOTICE filter=lfs diff=lfs merge=lfs -text
*.groovy filter=lfs diff=lfs merge=lfs -text
*.pom filter=lfs diff=lfs merge=lfs -text
/legacy/anttasks/NOTICE filter=lfs diff=lfs merge=lfs -text
/legacy/archquery/NOTICE filter=lfs diff=lfs merge=lfs -text
/misc/screenshot2/NOTICE filter=lfs diff=lfs merge=lfs -text
/misc/screenshot2/etc/screenshot2 filter=lfs diff=lfs merge=lfs -text
/asset-studio/NOTICE filter=lfs diff=lfs merge=lfs -text
/layoutlib-api/NOTICE filter=lfs diff=lfs merge=lfs -text
/legacy/ant-tasks/NOTICE filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-api/NOTICE filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-checks/NOTICE filter=lfs diff=lfs merge=lfs -text
/manifest-merger/NOTICE filter=lfs diff=lfs merge=lfs -text
/manifest-merger/etc/manifmerger filter=lfs diff=lfs merge=lfs -text
/rule-api/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdk-common/NOTICE filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.xml# filter=lfs diff=lfs merge=lfs -text
/templates/gradle/wrapper/gradlew filter=lfs diff=lfs merge=lfs -text
*.trace filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewAndroidApplication/root/module_ignore filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewAndroidApplication/root/project_ignore filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewAndroidLibrary/root/gitignore filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewJavaLibrary/root/gitignore filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewAndroidModule/root/module_ignore filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewAndroidProject/root/project_ignore filter=lfs diff=lfs merge=lfs -text
/build-system/builder/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/build-system/builder/NOTICE filter=lfs diff=lfs merge=lfs -text
*.d filter=lfs diff=lfs merge=lfs -text
/build-system/gradle/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/build-system/gradle/NOTICE filter=lfs diff=lfs merge=lfs -text
/build-system/gradle/README filter=lfs diff=lfs merge=lfs -text
*.aidl filter=lfs diff=lfs merge=lfs -text
*.keystore filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.rs filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.rsh filter=lfs diff=lfs merge=lfs -text
*.fs filter=lfs diff=lfs merge=lfs -text
/build-system/manifest-merger/NOTICE filter=lfs diff=lfs merge=lfs -text
/build-system/manifest-merger/etc/manifmerger filter=lfs diff=lfs merge=lfs -text
*.MyService filter=lfs diff=lfs merge=lfs -text
/build-system/builder-model/NOTICE filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
/gradle-import/NOTICE filter=lfs diff=lfs merge=lfs -text
*.crunched filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.dtd filter=lfs diff=lfs merge=lfs -text
/templates/NOTICE filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/AndroidWearModule/root/module_ignore filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewAndroidTVModule/root/module_ignore filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewGlassModule/root/module_ignore filter=lfs diff=lfs merge=lfs -text
*.android-hprof filter=lfs diff=lfs merge=lfs -text
/build-system/tests/basic/src/main/res/.vcs/INDEX filter=lfs diff=lfs merge=lfs -text
/build-system/tests/regular/basic/src/main/res/.vcs/INDEX filter=lfs diff=lfs merge=lfs -text
*.aapt filter=lfs diff=lfs merge=lfs -text
/build-system/tests/manual/shrink/webview/src/main/res/raw/unknown filter=lfs diff=lfs merge=lfs -text
/build-system/docs/README filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/test-projects/manual/shrink/webview/src/main/res/raw/unknown filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/test-projects/regular/basic/src/main/res/.vcs/INDEX filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/samples/basic/src/main/res/.vcs/INDEX filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/test-projects/shrink/webview/src/main/res/raw/unknown filter=lfs diff=lfs merge=lfs -text
/templates/eclipse/gradle/wrapper/gradlew filter=lfs diff=lfs merge=lfs -text
/annotations/NOTICE filter=lfs diff=lfs merge=lfs -text
*.properties19 filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-core/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-core/NOTICE filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-core/README filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-experimental/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-experimental/NOTICE filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/test-projects/basic/src/main/res/.vcs/INDEX filter=lfs diff=lfs merge=lfs -text
*.ivy filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-tests/NOTICE filter=lfs diff=lfs merge=lfs -text
*.rules filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
/templates/gradle-projects/NewAndroidAutoProject/root/project_ignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-tests/src/test/java/com/android/tools/lint/checks/data/apicheck/classpath filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-tests/src/test/java/com/android/tools/lint/checks/data/bytecode/classpath-jar filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-tests/src/test/java/com/android/tools/lint/checks/data/bytecode/classpath-lib filter=lfs diff=lfs merge=lfs -text
*.ipr filter=lfs diff=lfs merge=lfs -text
*.iws filter=lfs diff=lfs merge=lfs -text
*.g filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-tests/src/test/java/com/android/tools/lint/checks/data/lib/armeabi/hello filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-tests/src/test/java/com/android/tools/lint/checks/data/res/raw/hello filter=lfs diff=lfs merge=lfs -text
/fast_deploy_runtime/gradlew filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.Plugin filter=lfs diff=lfs merge=lfs -text
*.xjb filter=lfs diff=lfs merge=lfs -text
/repository/NOTICE filter=lfs diff=lfs merge=lfs -text
*.jks filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/build-system/builder/src/test/resources/testData/packaging/root filter=lfs diff=lfs merge=lfs -text
/profiler/integration-tests/ProfilerApp/gradlew filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.java# filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.ec filter=lfs diff=lfs merge=lfs -text
*.j filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
*.proto filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/test-projects/externalBuildPlugin/apk_manifest filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/test-projects/externalBuildPlugin/apk_manifest_text filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/CONTRIBUTING filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/WORKSPACE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/java/com/google/devrel/gmscore/tools/apk/arsc/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/java/com/google/devrel/gmscore/tools/common/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/java/com/google/devrel/gmscore/tools/common/flags/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/javatests/com/google/devrel/gmscore/tools/apk/arsc/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/javatests/com/google/devrel/gmscore/tools/common/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/auto/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/auto/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/guava/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/guava/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/guice/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/guice/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/jcommander/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/jcommander/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/jsr305_annotations/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/jsr305_annotations/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/jsr330_inject/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/jsr330_inject/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/junit/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/junit/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/opencsv/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/opencsv/LICENSE filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/truth/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/binary-resources/third_party/java/truth/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.Processor filter=lfs diff=lfs merge=lfs -text
/chunkio-processor/NOTICE filter=lfs diff=lfs merge=lfs -text
/chunkio/NOTICE filter=lfs diff=lfs merge=lfs -text
/pixelprobe/NOTICE filter=lfs diff=lfs merge=lfs -text
*.gitmodules filter=lfs diff=lfs merge=lfs -text
*.patch filter=lfs diff=lfs merge=lfs -text
*.icc filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/test-projects/externalBuildPlugin/README filter=lfs diff=lfs merge=lfs -text
*.ap_ filter=lfs diff=lfs merge=lfs -text
/rule-api/MODULE_LICENSE_EPL filter=lfs diff=lfs merge=lfs -text
*.clang-format filter=lfs diff=lfs merge=lfs -text
*.dex filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/grape filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/groovy filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/groovyConsole filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/groovyc filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/groovydoc filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/groovysh filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/java2groovy filter=lfs diff=lfs merge=lfs -text
/bazel/groovy/bin/startGroovy filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
/bazel/kotlin/bin/kotlin filter=lfs diff=lfs merge=lfs -text
/bazel/kotlin/bin/kotlinc filter=lfs diff=lfs merge=lfs -text
/bazel/kotlin/bin/kotlinc-js filter=lfs diff=lfs merge=lfs -text
/bazel/kotlin/bin/kotlinc-jvm filter=lfs diff=lfs merge=lfs -text
/bazel/BUILD filter=lfs diff=lfs merge=lfs -text
*.bzl filter=lfs diff=lfs merge=lfs -text
/annotations/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/BUILD filter=lfs diff=lfs merge=lfs -text
/asset-studio/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/BUILD filter=lfs diff=lfs merge=lfs -text
/chunkio-processor/BUILD filter=lfs diff=lfs merge=lfs -text
/chunkio/BUILD filter=lfs diff=lfs merge=lfs -text
/common/BUILD filter=lfs diff=lfs merge=lfs -text
/ddmlib/BUILD filter=lfs diff=lfs merge=lfs -text
/device_validator/BUILD filter=lfs diff=lfs merge=lfs -text
/draw9patch/BUILD filter=lfs diff=lfs merge=lfs -text
/instant-run/BUILD filter=lfs diff=lfs merge=lfs -text
/layoutlib-api/BUILD filter=lfs diff=lfs merge=lfs -text
/lint/BUILD filter=lfs diff=lfs merge=lfs -text
/ninepatch/BUILD filter=lfs diff=lfs merge=lfs -text
/perflib/BUILD filter=lfs diff=lfs merge=lfs -text
/pixelprobe/BUILD filter=lfs diff=lfs merge=lfs -text
/repository/BUILD filter=lfs diff=lfs merge=lfs -text
/rpclib/BUILD filter=lfs diff=lfs merge=lfs -text
/sdk-common/BUILD filter=lfs diff=lfs merge=lfs -text
/sdklib/BUILD filter=lfs diff=lfs merge=lfs -text
/testutils/BUILD filter=lfs diff=lfs merge=lfs -text
*.clang-tidy filter=lfs diff=lfs merge=lfs -text
*.exports filter=lfs diff=lfs merge=lfs -text
*.WORKSPACE filter=lfs diff=lfs merge=lfs -text
/build-system/builder-model/BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/build_targets filter=lfs diff=lfs merge=lfs -text
*.BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/bazel filter=lfs diff=lfs merge=lfs -text
*.bash filter=lfs diff=lfs merge=lfs -text
/bazel/prebuilts/linux/bazel-real filter=lfs diff=lfs merge=lfs -text
/bazel/sdk/BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/sdk/dev-sdk-packages filter=lfs diff=lfs merge=lfs -text
/third_party/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/proto/BUILD filter=lfs diff=lfs merge=lfs -text
/templates/BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/prebuilts/mac/bazel-real filter=lfs diff=lfs merge=lfs -text
/build-system/builder/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/profile/BUILD filter=lfs diff=lfs merge=lfs -text
/jack/jack-api/BUILD filter=lfs diff=lfs merge=lfs -text
/jack/jill-api/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/testdata/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/utils/BUILD filter=lfs diff=lfs merge=lfs -text
/lint/cli/BUILD filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-api/BUILD filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-checks/BUILD filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint-tests/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/test/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/perfd/network/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/perfd/memory/BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/test_targets filter=lfs diff=lfs merge=lfs -text
/profiler/native/perfd/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/perfd/cpu/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/perfd/event/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/perfd/energy/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/perfa/BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/gradle_projects filter=lfs diff=lfs merge=lfs -text
/lint/libs/uast/NOTICE filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-api/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-core/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-core/src/main/proto/BUILD filter=lfs diff=lfs merge=lfs -text
*.klass filter=lfs diff=lfs merge=lfs -text
/build-system/gradle-experimental/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/gradle/BUILD filter=lfs diff=lfs merge=lfs -text
/apkzlib/BUILD filter=lfs diff=lfs merge=lfs -text
/apkzlib/src/test/resources/testData/packaging/root filter=lfs diff=lfs merge=lfs -text
/build-system/instant-run-instrumentation/BUILD filter=lfs diff=lfs merge=lfs -text
/instant-run/instant-run-annotations/BUILD filter=lfs diff=lfs merge=lfs -text
/instant-run/instant-run-runtime/BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/targets filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/src/main/java/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/src/main/proto/BUILD filter=lfs diff=lfs merge=lfs -text
/testing-infrastructure/device-pool/device-provider/src/main/BUILD filter=lfs diff=lfs merge=lfs -text
/files/typos/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/integration-test/BUILD filter=lfs diff=lfs merge=lfs -text
/testing-infrastructure/device-pool/device-provider/BUILD filter=lfs diff=lfs merge=lfs -text
/bazel/sdk/qa-sdk-packages filter=lfs diff=lfs merge=lfs -text
/bazel/prebuilts/darwin-x86/buildifier filter=lfs diff=lfs merge=lfs -text
/bazel/prebuilts/linux-x86/buildifier filter=lfs diff=lfs merge=lfs -text
/instant-run/instant-run-server/BUILD filter=lfs diff=lfs merge=lfs -text
*.jack filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
/profiler/native/dex/dexter/BUILD filter=lfs diff=lfs merge=lfs -text
/profiler/native/dex/slicer/BUILD filter=lfs diff=lfs merge=lfs -text
*.BiConsumer filter=lfs diff=lfs merge=lfs -text
/devicelib/BUILD filter=lfs diff=lfs merge=lfs -text
/aaptjlib/BUILD filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.binxml filter=lfs diff=lfs merge=lfs -text
*.kt filter=lfs diff=lfs merge=lfs -text
/build-system/builder/src/dex/BUILD filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.expected filter=lfs diff=lfs merge=lfs -text
/fakeadbserver/BUILD filter=lfs diff=lfs merge=lfs -text
/fakeadbserver/NOTICE filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.stats filter=lfs diff=lfs merge=lfs -text
*.hello_stats filter=lfs diff=lfs merge=lfs -text
*.am_stats filter=lfs diff=lfs merge=lfs -text
/profiler/native/jvmti/BUILD filter=lfs diff=lfs merge=lfs -text
*.rewrite filter=lfs diff=lfs merge=lfs -text
/bazel/test/kotlin/BUILD filter=lfs diff=lfs merge=lfs -text
/apkparser/analyzer/BUILD filter=lfs diff=lfs merge=lfs -text
*.entry_hook filter=lfs diff=lfs merge=lfs -text
/build-system/java-lib-plugin/java-lib-model-builder/BUILD filter=lfs diff=lfs merge=lfs -text
/build-system/java-lib-plugin/java-lib-model/BUILD filter=lfs diff=lfs merge=lfs -text
*.exit_hook filter=lfs diff=lfs merge=lfs -text
*.wrap_invoke filter=lfs diff=lfs merge=lfs -text
/profiler/native/agent/BUILD filter=lfs diff=lfs merge=lfs -text
/layoutinspector/BUILD filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.win filter=lfs diff=lfs merge=lfs -text
*.find_method filter=lfs diff=lfs merge=lfs -text
*.mi filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
bazel/prebuilts/mac/bazel-real filter=lfs diff=lfs merge=lfs -text
profiler/native/testdata/dex/expected/large.code_coverage filter=lfs diff=lfs merge=lfs -text
profiler/native/trace_processor_daemon/testdata/tank.trace filter=lfs diff=lfs merge=lfs -text
profiler/native/testdata/dex/expected/large.verbose_cfg filter=lfs diff=lfs merge=lfs -text
