*.gitignore filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/common/NOTICE filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
/ddms/libs/ddmlib/NOTICE filter=lfs diff=lfs merge=lfs -text
/device_validator/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/device_validator/app/etc/README filter=lfs diff=lfs merge=lfs -text
/device_validator/app/etc/device_validator filter=lfs diff=lfs merge=lfs -text
*.xsd filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
/draw9patch/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/draw9patch/NOTICE filter=lfs diff=lfs merge=lfs -text
/draw9patch/etc/draw9patch filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.el filter=lfs diff=lfs merge=lfs -text
/jobb/NOTICE filter=lfs diff=lfs merge=lfs -text
/jobb/etc/jobb filter=lfs diff=lfs merge=lfs -text
/layoutlib_api/NOTICE filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/lint/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/lint/cli/NOTICE filter=lfs diff=lfs merge=lfs -text
/lint/cli/etc/lint filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
/lint/cli/src/test/java/com/android/tools/lint/checks/data/apicheck/classpath filter=lfs diff=lfs merge=lfs -text
/lint/cli/src/test/java/com/android/tools/lint/checks/data/bytecode/classpath-jar filter=lfs diff=lfs merge=lfs -text
/lint/cli/src/test/java/com/android/tools/lint/checks/data/bytecode/classpath-lib filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.properties1 filter=lfs diff=lfs merge=lfs -text
*.properties2 filter=lfs diff=lfs merge=lfs -text
*.properties3 filter=lfs diff=lfs merge=lfs -text
*.properties4 filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint_api/NOTICE filter=lfs diff=lfs merge=lfs -text
/manifmerger/etc/manifmerger filter=lfs diff=lfs merge=lfs -text
/ninepatch/NOTICE filter=lfs diff=lfs merge=lfs -text
/rule_api/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdk_common/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdkmanager/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/sdkmanager/libs/sdklib/NOTICE filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
/sdkstats/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdkstats/README filter=lfs diff=lfs merge=lfs -text
*.ftl filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/testutils/NOTICE filter=lfs diff=lfs merge=lfs -text
/ddmlib/NOTICE filter=lfs diff=lfs merge=lfs -text
/sdklib2/NOTICE filter=lfs diff=lfs merge=lfs -text
*.name filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.classpath filter=lfs diff=lfs merge=lfs -text
*.project filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
/sdklib2/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/gradlew filter=lfs diff=lfs merge=lfs -text
*.MF filter=lfs diff=lfs merge=lfs -text
/sdklib/MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
/sdklib/NOTICE filter=lfs diff=lfs merge=lfs -text
/assetstudio/NOTICE filter=lfs diff=lfs merge=lfs -text
/device_validator/dvlib/NOTICE filter=lfs diff=lfs merge=lfs -text
/lint/libs/lint_checks/NOTICE filter=lfs diff=lfs merge=lfs -text
/manifmerger/NOTICE filter=lfs diff=lfs merge=lfs -text
*.groovy filter=lfs diff=lfs merge=lfs -text
*.pom filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
bazel/prebuilts/mac/bazel-real filter=lfs diff=lfs merge=lfs -text
profiler/native/testdata/dex/expected/large.code_coverage filter=lfs diff=lfs merge=lfs -text
profiler/native/trace_processor_daemon/testdata/tank.trace filter=lfs diff=lfs merge=lfs -text
profiler/native/testdata/dex/expected/large.verbose_cfg filter=lfs diff=lfs merge=lfs -text
